body {
  display: grid;
  align-items: center;
  height: 100vh;
}
.content {
  display: block;
  width: 800px;
  margin: auto;
  height: 600px;
  padding: 0;
  border: 1px solid #aaa;
  border-radius: 3px;
}
.content .div-display {
  width: 100%;
  height: 20%;
  background-color: whitesmoke;
  position: relative;
  text-align: right;
  font-size: 3em;
  display: inline-block;
  vertical-align: middle;
  line-height: 130px;
}
.content .div-elements {
  position: relative;
  width: 100%;
  background-color: burlywood;
  float: left;
  left: 0px;
  top: 0px;
  height: 80%;
  display: grid;
  grid-template-columns: auto auto auto auto;
  padding: 0px;
}
.content .div-elements .grid-item {
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
  widows: 100%;
  height: auto;
}
@media screen and (max-width: 800px) {
  .content {
    width: 100%;
    height: auto;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
  .content {
    width: 100%;
    height: 100%;
    overflow-y: hidden;
  }
  .content .div-display {
    height: 10%;
    line-height: 90px;
  }
  .content .div-elements {
    height: auto;
    bottom: 0px;
  }
  .content .div-elements .grid-item {
    text-align: center;
  }
}
